
.elements tr:first-child th {
    background-color: #EAEAEA;
    text-transform: uppercase;
}


.elements tr:hover {
    background-color: #EAEAFF;
}

.elements tr.selected-row {
    background-color: #EAFFEA;
}

/*.elements .selected-row:hover {
    filter: brightness(200%);
}*/

.memorycard {
    max-width: 100%;
}

@media only screen and (max-width: 650px) {
    #vmu .elements th:nth-child(n+2):nth-child(-n+4),
    #vmu .elements td:nth-child(n+2):nth-child(-n+4) {
        display: none;
    }
}
