/**** Some Materialize customization ****/

/* Remove materialize padding */
.row, .col {
    padding-left: 0!important;
    padding-right: 0!important;
}

#toast-container {
    min-width: 10%;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}


/**** Other elements ****/

.newtab-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.newtab-message:not(:last-child) {
    display: none;
}

/* First table row */
.elements tr:first-child th {
    /* background-color: #EAEAEA; */
    text-transform: uppercase;
}

.elements tr:hover:not(:first-child) {
    background-color: #EAEAFF;
}

.elements tr.selected-row {
    background-color: #EAFFEA;
}

/*.elements .selected-row:hover {
    filter: brightness(200%);
}*/

.memorycard {
    max-width: 100%;
}

/*@media only screen and (max-width: 650px) {
    .vmu .elements th:nth-child(n+2):nth-child(-n+4),
    .vmu .elements td:nth-child(n+2):nth-child(-n+4) {
        display: none;
    }
}*/

@media only screen and (max-width: 500px) {
    .vmu .elements th:nth-child(n+2):nth-child(-n+4),
    .vmu .elements td:nth-child(n+2):nth-child(-n+4) {
        display: none;
    }
}